#left_bar {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 13%;
    z-index: 5;
    height: 100%;
    left: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    outline: none;
}

#call_list_div {
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

.call_list_header {
    margin: 5px 10px 5px 10px;
    justify-content: center;
    border-bottom: 1px black;
}

.call_list_content {
    flex-direction: column;
    margin-top: 10px;
}

h1 {
    font-size: medium;
}

h2 {
    font-size: small;
    margin-bottom: -0.1px;
    margin-top: 8px;
}

.separator {
    background-color: black;
    height: 1px;
}

.call_list_slidein {
    animation: slidein_call_div .7s ease-in-out forwards;
}

.call_list_slideout {
    animation: slideout_call_div .7s ease-in-out forwards;
}

@keyframes slidein_call_div {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0%, 0);
    }
}

@keyframes slideout_call_div {
    from {
        transform: translate(0%, 0);
    }
    to {
        transform: translate(-100%, 0);
    }
}

.search_bar_slidein {
    animation: slidein_search_bar .7s ease-in-out forwards;
}

.search_bar_slideout {
    animation: slideout_search_bar .7s ease-in-out forwards;
}

.actionBarSlidein {
    animation: slidein_search_bar .7s ease-in-out forwards;
}

.actionBarSlideout {
    animation: slideout_search_bar .7s ease-in-out forwards;
}

@keyframes slidein_search_bar {
    from {
        left: 3%;
    }
    to {
        left: 14%;
    }
}

@keyframes slideout_search_bar {
    from {
        left: 14%;
    }
    to {
        left: 3%;
    }
}

.wellbeing_imagespan {
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.wellbeing_indicator {
    height: 20px;
    width: 20px;
}

.call_box {
    color: black;
    border-style: solid;
    background-color: #f2f2f2;
    border-width: 0 0 0 5px;
    margin: 2px;
    padding: 5px 5px 8px 5px;
    transition: 0.3s;
}

.call_box:hover {
    border-width: 0 0 0 8px;
    background-color: #e6e6e6;
}

.call_list_element {
    border-top: 1px black;
    margin: 5px 0 5px 0;
}

.call_list_element:hover {
    border-width: 0 0 0 10px;
    cursor: pointer;
}

.lowprio {
    border-color: green;
}

.intermediateprio {
    border-color: orange;
}

.highprio {
    border-color: red;
}

.veryhighprio {
    border-color: darkred;
}

.calledAlready {
    border-color: purple;
}

.done_call_box {
    background-color: lightgrey;
    filter: grayscale(100%);
}

.found_call_items {
    animation: found_call_item_frames 1.5s;
}

@keyframes found_call_item_frames {
    from {
        background-color: inherit;
        filter: grayscale(100%);
    }
    50% {
        background-color: lightgreen;
        filter: grayscale(0);
    }
    to {
        background-color: inherit;
        filter: grayscale(100%);
    }
}

.no_call_items_found {
    animation: no_call_items_found_frames 0.2s;
    animation-iteration-count: 5;
}

@keyframes no_call_items_found_frames {
    from {
        background-color: red;
    }
    25% {
        transform: translate(-0.5%, 0);
    }
    75% {
        transform: translate(1%, 0);
    }
    to {
        transform: translate(-0.5%, 0);
    }
}

.hidden_box {
    display: none;
}