#call_list_div
{
    position: fixed;
    overflow: auto;
    background-color: #4488ff;
    width: 12%;
    z-index: 5;
    height: 100%;
}

.call_list_slide {
    animation-name: slidein_call_div;
    animation-duration: 1s;
}
.call_list_slideout {
    animation-name: slideout_call_div;
    animation-duration: 1s;
}

@keyframes slidein_call_div {
    from {
        left: -12%;
    }

    to {
        left: 0;
    }
}


@keyframes slideout_call_div {
    from {
        left: 0;
    }

    to {
        left: -12%;
    }
}



.wellbeing_imagespan {
    position: relative;
    top: 4px;
    margin-right: 5px;
}


.wellbeing_indicator
{
    height: 20px;
    width: 20px;
}

.call_box {
    color: black;
    border-style: solid;
    background-color: white;
    border-width: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.lowprio {
    border-color: green;
}

.intermediateprio {
    border-color: orange;
}

.highprio {
    border-color: red;
}

.veryhighprio {
    border-color: darkred;
}

.calledAlready {
    border-color: purple;
}
