#clustered_list {
    padding: 5px;
    height: calc(100vh - 75px);
    overflow: auto;
}

#clusteredListOuterDiv {
    height: 100%;
    overflow: hidden;
}

.list_div {
    padding: 3px 20px 4px;
}

.list_div:hover {
    background-color: #e6e6e6;
    border-radius: 5px;
    border-width: 10px;
    cursor: pointer;
}

.done_div {
    padding: 3px 20px 4px;
    border-radius: 5px;
    border-width: 10px;
    background-color: lightgrey;
    filter: grayscale(100%);
}

.done_div:hover {
    background-color: #e6e6e6;
}

#closeClusteredListDiv {
    height: 75px;
    width: 100%;
    border-top: solid 2px lightgray;
    background: white;
    position: relative;
    text-align: center;
}