#clustered_list {
    padding: 5px;
    overflow: auto;
}

.list_div {
    padding: 5px;
}

.list_div:hover {
    background-color: #e6e6e6;
    border-radius: 5px;
    border-width: 10px;
    cursor: pointer;
}

.done_div {
    padding: 5px;
    border-radius: 5px;
    border-width: 10px;
    background-color: lightgrey;
    filter: grayscale(100%);
}

.done_div:hover {
    background-color: #e6e6e6;
}