
#infected_detailed_view_right {
    width: 30%;
    height: 100%;
    right: 0;
    position: fixed;
    border-left-style: solid;
    border-left-width: 0.5em;
    border-left-color: darkgray;
    overflow:auto;

}

.alreadyPrescribed {
    margin-left: 20px;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

}

.notPrescribed:hover {
    background: darkgray;
}

.notPrescribed {
    font-size: inherit;
    background: gray;
    cursor: pointer;
    padding: 20px 20px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50px;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#addSymptomButton {
    border-radius: 50%;
    outline: none;
    background-color: white;
    color: black;
    box-shadow: black;
    margin-left: 1em;
}

#addSymptomButton:hover{
    box-shadow: 2px 2px gray;
}

.text{
    margin-left: 1em;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#notes_area{
    margin-left: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#textInformationen{
    margin-top: 20px;
}
#test_result_checkbox{
    margin-left: 20px;;
    position: relative;
    top: -1em;
}
#test_result_label{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position:relative;
    top: -1em;
}
#prescribe_test{
    position: relative;
    top: -1em;
}


.btn-gray{
    border: 3px solid gray;
    background: gray;
}

.symptom_checkbox {

}

.sinceDays {
    color: #737373;
}

#symptomsDiv {
    background-color: lightgrey;
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#wellbeing_indicator_history {
}

.cancel_button {
    background-color: red;
    border-color: black;
}
.cancel_button:hover {
    color: red;
    background-color: white;
    border-color: red;
}

.submit_button {
    background-color: #79ff4d;
    border-color: black;
}
.submit_button:hover {
    color: #79ff4d;
    background-color: white;
    border-color: #79ff4d;
}

#preexisting_illness_button {

}

.dialogButton {
    font-size: inherit;
    cursor: pointer;
    padding: 20px 20px;
    display: inline-block;
    margin: 1em 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 50px;
    color: #fff;
    overflow: hidden;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.dialogButton:hover{
    background: darkgray;
}
.dialogButton:active{
    border-color: black;
    color: darkgray;
}
#wellbeing_slider:focus {
    outline: none;
}

#wellbeing_slider::-webkit-slider-runnable-track {
    width: 200px;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: url('../assets/icons/wellbeing_slider.svg');

}

#symptomHeader{
    font-size: 1.5em;
}
#courseOfDiseaseHeader{
    font-size: 1.5em;
    margin-top: 2em;
}

#risk{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position:relative;
    top: -2em;
}
#riskEvaluationImageDiv{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: relative;
    top: -5em;
    right: -12em;
}
#riskEvaluationTextDiv{
    position: relative;
    top: -5em;
    right: -10em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#riskEvaluationImageDiv1{
    position: relative;
    top: 2.5em;
    right: -1em;
}
#riskEvaluationTextDiv1{
    position: relative;
    right: -2em;
}

#endButtonsDiv{
    width: 120%;
}