.floating_object {
    position: absolute;
    background-color: white;
    z-index: 5;
    color: black;
}

#zoom_buttons {
    position: absolute;
    bottom: 10%;
    left: 20%;
    background-color: transparent;
}

#zoom_in_button {
    margin-left: 100px;
    right: 0;
}

#zoom_out_button {
    left: 0;
}

.zoom_button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #4488ff;
    border: 0;
    position: relative;
    color: white;
    font-size: 2em;
    box-shadow: 2px 2px black;
    outline: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}
.zoom_button:active{
    transform: translateY(4px);
}

.zoom_button:hover {
    background-color: white;
    color: #4488ff;
    box-shadow: 5px 5px black;
}

.flex_div {
    display: flex;
}

#search_bar {
    padding: 10px 10px 5px 5px;
    top: 3%;
    left: 15%;
    border-radius: 10px;
    height: 3%;
    outline: none;
}

#search_input {
    margin: 10px 10px 0 10px;
    height: 6%;
    border-width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search_div {
    display: flex;
    color: white;
}

#search_span {
    top: 25%;
    vertical-align: middle;
}

#open_list_button {
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    border-width: 0;
}

#open_list_svg {
    width: 15%;
    height: 15%;
}

#search_button {
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: white;
    outline: none;

}

#close_edit_symptoms_button
{

}

#submit_edit_symptoms_button
{

}