.floatingObject {
    position: absolute;
    background-color: white;
    z-index: 5;
    color: black;
}

#zoomButtons {
    bottom: 1%;
    left: 50%;
    background-color: transparent;
}

#zoomInButton {
    height: 50px;
    width: 50px;
    right: 0;
    bottom: 1%;
}

#zoomOutButton {
    height: 50px;
    width: 50px;
    left: 0;
    bottom: 1%;
}

.zoomButton {
    border-radius: 50%;
    background-color: #808080;
    border: 0;
    position: relative;
    color: white;
    font-size: 2em;
    box-shadow: 2px 2px black;
    outline: none;
    margin: 0 2px 0 2px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.zoomButton:active {
    transform: translateY(4px);
}

.zoomButton:hover {
    background-color: #909090;
    transform: translateY(1px);
    box-shadow: 1px 1px black;
}

.flexDiv {
    display: flex;
}

#searchBar {
    top: 1%;
    left: 1%;
    height: auto;
    outline: none;
    background-color: transparent;
    display: flex;
}

#searchContainer {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#searchInput {
    height: 1.5em;
    border-width: 1px;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
}

.iconButton {
    display: flex;
    color: white;
}

#searchButton img {
    height: 1.2em;
}

#actionBar img {
    height: 1.6em;
}

#searchSpan {
    top: 25%;
    vertical-align: middle;
}

#openListButton {
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    border-width: 0;
    margin-bottom: -4px;
    margin-right: 3px;
    color: black;
    cursor: pointer;
}

#openListSvg {
    width: 100%;
    height: 100%;
}

#searchButton {
    background-color: slategray;
    border-radius: 5px;
    border-color: white;
    outline: none;
    height: 28px;
    margin-left: 2px;
    cursor: pointer;
}

#continueSearchSpan {
    position: relative;
    right: -5%;
}

#continueSearchButtons {
    display: flex;
    flex-direction: column;
    top: 3%;
    left: 39%;
    border-radius: 10px;
    box-shadow: 2px 2px blue;
}

.continueSearchBtn {
    padding: 3px;
    border-radius: 50%;
    margin: 2px;
    background-color: white;
    outline: none;
    border-width: 0;
}

.continueSearchBtn:hover {
    background-color: lightgrey;
}

.disabledButton {
    background-color: darkgrey;
}

#progressBarDiv {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 250px;
    height: 25px;
    background-color: transparent;
    display: flex;
    z-index: 5;
}

#progressBar {
    border-style: solid;
    border-radius: 13px;
    border-width: 1px;
    border-color: black;
}

#actionBar {
    left: 1%;
    bottom: 1%;
    background-color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    align-content: center;
}

#snackbar {
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    width: 15%;
    visibility: hidden;
    opacity: 0;
    left: 42.5%;
    top: 40%;
    box-shadow: 10px 10px black;
}

.showSnackbarAnimation {
    animation: showSnackbar 3s ease-in-out forwards;
}

@keyframes showSnackbar {
    from {
        visibility: hidden;
        opacity: 0;
    }

    15% {
        visibility: visible;
        opacity: 1;
    }

    85% {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

#centeredSnackbarText {
    text-align: center;
}

.spaceAround {
    margin: 0.5em;
}

#showDistrictsLabel {
    position: relative;
    top: 3px;
}

.smallButton {
    cursor: pointer;
    display: inline;
    text-transform: lowercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    height: auto;
    width: auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 100;
    font-size: 0.8em;
    background-color: gray;
    color: white;
    border: 3px solid gray;
}

.smallButton:hover {
    background-color: darkgray;
}

#loadingScreen {
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 50%;
    left: 45%;
    top: 45%;
    height: 10em;
    width: 10em;
    vertical-align: middle;
    box-shadow: 2px 2px black;
}

#loadingScreen img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    position: absolute;
    opacity: 0.7;
}

.loadingScreenAnimation {
    animation: loadingAnimation 1s ease-in-out infinite;
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#loadingScreen span {
    width: auto;
}

#waitText {
    background-color: white;
    padding: 3px;
    border-radius: 10px;
    display: inline-block;
    opacity: 1;
    z-index: 6;
    left: 18%;
    top: 45%;
    margin: auto;
    position: relative;
}

.coronaLogo {
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 5;
    width: 180px;
}

.coronaLogoImg {
    width: 175px;
    height: 52px;
}