
#global_overlay {
    position: absolute;
    width: 100%;
    -webkit-filter: blur(5px); /* TODO use filter that can be used for all browsers*/
    filter: blur(5px);
    backdrop-filter: blur(6px);
    height: 100%;
    z-index: 6;
}

#popup_window
{
    position: absolute;
    width: 30%;
    height: auto;
    max-height: 60%;
    z-index: 7;
    top: 20%;
    left: 35%;
    background-color: white;
    border-radius: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}


#symptomsPopupHeader{
    display:flex;
    justify-content: center;
    align-content: start;
    margin: 1em;
    font-weight: bold;
    font-size: 1.3em;
}
#listOfPossibleSymptoms{
    height: auto;
    max-height: 70%;
    padding-left: 1em;
    overflow: auto;
    border-radius: 10px;
    border: solid 3px black;
    margin-right: 1em;
    margin-left: 1em;
}
#symptomsPopupEnd{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 1em;
}


#confirm_popup
{
    position: absolute;
    width: 20%;
    height: auto;
    top: 30%;
    left: 40%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    padding: 1em;
    border: darkgray solid 3px;
}
#confirm_popup_buttons{
    display:flex;
    align-content: center;
    justify-content: space-evenly;
}
#confirm_text{
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-content: center;
}

#showIllnessesPopupHeader{
    margin: 1em;
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#listOfIllnesses{
    margin-left: 1em;
    margin-right: 1em;
    overflow: auto;
    height: auto;
    max-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close_illnesses_button_div{
    display: flex;
    justify-content: center;
    align-content: center;
}

#close_illnesses_button{
    margin: 1em;
    width: 30%;
}



.invisible_object
{
    display: none !important;
}

#transparent_overlay
{
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%;
}


#notesHistoryDiv{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: end;
    margin:1em;
    border: solid black 3px;
    border-radius: 10px;
    height: auto;
    max-height: 70%;
    overflow: auto;
}

#notesItem{
    display:flex;
    justify-content: start;
    align-content: center;
    flex-direction: row;
}

#notesText{
    font-weight: 300;
}

#hideNotesButton{
    width: 30%;
}

#hideNotesButtonDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
